Smart_Thermostat.json
[
    {
        "id": "51a263ce1e894c5a",
        "type": "tab",
        "label": "ESP32 System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3639291faf4aa5f0",
        "type": "http in",
        "z": "51a263ce1e894c5a",
        "name": "POST /esp32/data",
        "url": "/esp32/data",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "3ee1a160148f19df",
                "105897dd2d82127c",
                "3fb4a3c253b65dee",
                "0c49322aee94f3c9",
                "func_format_mobius"
            ]
        ]
    },
    {
        "id": "53d31d2f7584068d",
        "type": "http response",
        "z": "51a263ce1e894c5a",
        "name": "Send Command",
        "statusCode": "200",
        "headers": {},
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "105897dd2d82127c",
        "type": "function",
        "z": "51a263ce1e894c5a",
        "name": "Check Switch State",
        "func": "// This function decides what to tell the ESP32\n\n// 1. Get the state of the dashboard switch\nvar command = flow.get(\"target_eco_mode\") || false;\n\n// 2. Send the specific text command the Arduino is waiting for\nif (command === true) {\n    msg.payload = \"ECO_ON\";\n} else {\n    msg.payload = \"ECO_OFF\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 420,
        "wires": [
            [
                "53d31d2f7584068d"
            ]
        ]
    },
    {
        "id": "3ee1a160148f19df",
        "type": "change",
        "z": "51a263ce1e894c5a",
        "name": "Extract Sensors",
        "rules": [
            {
                "t": "set",
                "p": "temperature",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "humidity",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "7cb62fcf8b66bc8e",
                "fc7dd342e523ea28"
            ]
        ]
    },
    {
        "id": "3fb4a3c253b65dee",
        "type": "change",
        "z": "51a263ce1e894c5a",
        "name": "Format Mode Text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ecoMode ? 'ECO MODE' : 'BASIC MODE'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "edf815e18c6bbc82"
            ]
        ]
    },
    {
        "id": "7cb62fcf8b66bc8e",
        "type": "ui_gauge",
        "z": "51a263ce1e894c5a",
        "name": "Temperature",
        "group": "ui_group_sensors",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{msg.temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "fc7dd342e523ea28",
        "type": "ui_gauge",
        "z": "51a263ce1e894c5a",
        "name": "Humidity",
        "group": "ui_group_sensors",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0080ff",
            "#0062c4",
            "#004182"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "edf815e18c6bbc82",
        "type": "ui_text",
        "z": "51a263ce1e894c5a",
        "group": "ui_group_controls",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Actual Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "1ef8afd38c976b2f",
        "type": "ui_switch",
        "z": "51a263ce1e894c5a",
        "name": "Eco Mode Switch",
        "label": "Toggle Eco Mode",
        "tooltip": "",
        "group": "ui_group_controls",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "eco_cmd",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 170,
        "y": 660,
        "wires": [
            [
                "e7253a4e59939c6a"
            ]
        ]
    },
    {
        "id": "e7253a4e59939c6a",
        "type": "change",
        "z": "51a263ce1e894c5a",
        "name": "Save to Flow Var",
        "rules": [
            {
                "t": "set",
                "p": "target_eco_mode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "c1a64b43c53539a5",
        "type": "ui_form",
        "z": "51a263ce1e894c5a",
        "name": "Login",
        "label": "System Access",
        "group": "ui_group_login",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "user",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "pass",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "user": "",
            "pass": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "Reset",
        "topic": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "bf1c26daf3b130cf"
            ]
        ]
    },
    {
        "id": "bf1c26daf3b130cf",
        "type": "function",
        "z": "51a263ce1e894c5a",
        "name": "Check Creds",
        "func": "var u = msg.payload.user;\nvar p = msg.payload.pass;\n\n// HARDCODED CREDENTIALS\nif(u === \"admin\" && p === \"takingat123\") {\n    msg.payload = { tab: \"Home Dashboard\" };\n    return [msg, null];\n} else {\n    msg.payload = \"Invalid Password\";\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            [
                "ec8a0cb06af39a22"
            ],
            [
                "6451858638f592da"
            ]
        ]
    },
    {
        "id": "ec8a0cb06af39a22",
        "type": "ui_ui_control",
        "z": "51a263ce1e894c5a",
        "name": "Navigation",
        "events": "all",
        "x": 510,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6451858638f592da",
        "type": "ui_toast",
        "z": "51a263ce1e894c5a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Login Fail",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "0c49322aee94f3c9",
        "type": "debug",
        "z": "51a263ce1e894c5a",
        "name": "Incoming",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "func_format_mobius",
        "type": "function",
        "z": "51a263ce1e894c5a",
        "name": "Format oneM2M (CIN)",
        "func": "// 1. Extract the raw data\nvar temp = msg.payload.temperature;\nvar hum = msg.payload.humidity;\nvar eco = msg.payload.ecoMode;\n\n// 2. Wrap it in a JSON string for the 'content' (con)\nvar contentString = JSON.stringify({\n    \"temp\": temp,\n    \"hum\": hum,\n    \"mode\": eco ? \"ECO\" : \"BASIC\"\n});\n\n// 3. Build the oneM2M Payload Structure\nmsg.payload = {\n    \"m2m:cin\": {\n        \"con\": contentString\n    }\n};\n\n// 4. Set Required oneM2M Headers\nmsg.headers = {};\nmsg.headers[\"X-M2M-Origin\"] = \"S\"; // Must match your ACP (S or admin)\nmsg.headers[\"X-M2M-RI\"] = \"req_\" + Date.now();\nmsg.headers[\"Content-Type\"] = \"application/vnd.onem2m-res+json; ty=4\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 660,
        "wires": [
            [
                "http_req_mobius_secure"
            ]
        ]
    },
    {
        "id": "http_req_mobius_secure",
        "type": "http request",
        "z": "51a263ce1e894c5a",
        "name": "POST to Secure Mobius",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://localhost/Mobius/MyAE/secure_container",
        "tls": "tls_self_signed",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 660,
        "wires": [
            [
                "debug_mobius_reply"
            ]
        ]
    },
    {
        "id": "debug_mobius_reply",
        "type": "debug",
        "z": "51a263ce1e894c5a",
        "name": "Mobius Success?",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 660,
        "wires": []
    },
    {
        "id": "ui_group_sensors",
        "type": "ui_group",
        "name": "Live Readings",
        "tab": "ui_tab_dashboard",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_controls",
        "type": "ui_group",
        "name": "System Control",
        "tab": "ui_tab_dashboard",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_login",
        "type": "ui_group",
        "name": "Authentication",
        "tab": "ui_tab_login",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tls_self_signed",
        "type": "tls-config",
        "name": "Allow Self-Signed",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "ui_tab_dashboard",
        "type": "ui_tab",
        "name": "Home Dashboard",
        "icon": "fa-home",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_login",
        "type": "ui_tab",
        "name": "Login",
        "icon": "fa-lock",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]